/node_modules
/storage
/bootstrap/compiled.php
/vendor
composer.lock
.env.*.php
.env
.env.php
.DS_Store
Thumbs.db
/.idea
/bower_components
/resources/bower_components
.tmp
.sass-cache
_ide_helper.php
.phpstorm.meta.php
access.log
error.log
/public/uploads
/storage/debugbar
/public/storage
/public/source
/public/thumbs
/public/webstat
Homestead.yaml
Homestead.json
.idea