.cont {
    clear: fix;
    .obj {
        width: 75.6vw;
        margin-left: 2.6vw;
        float: left;
        .search_body {
            position: fixed;
            top: 5.8vw;
            background-color: #f5f8fa;
            z-index: 1;
            .search_menu {
                background-color: #010d25;
                width: 75.6vw;

                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 2vw;
                    height: 4.2vw;
                    background-color: #f5f8fa;
                    top: 0;
                    left: -2vw;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 2vw;
                    height: 4.2vw;
                    background-color: #f5f8fa;
                    top: 0;
                    right: -2vw;
                }

                .search_element {
                    height: 3.9vw;
                    padding: 0;
                    margin: 0;
                    background-color: #010d25;
                    &:active {
                        outline: 0;
                    }
                    &:focus {
                        outline: 0;
                    }
                    &:visited {
                        outline: 0;
                    }
                }
                .search_input {
                    width: 30vw;
                    outline: 0;
                    border: none;
                    font-family: 'Gotham Pro Light';
                    padding-left: 2vw;
                    color: #9b9b9b;
                    font-size: 0.9vw;
                }
                .search_button {
                    width: 4vw;
                    height: 3.9vw;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 1vw;
                    background-color: #010d25;
                    border: none;
                    outline: none;
                    &:after {
                        @mixin io search-icon, svg;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-position: center center;
                        background-size: 40%;
                    }
                    &:active {
                        outline: none;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:visited {
                        outline: none;
                    }
                }
                .bootstrap-select {
                    padding: 0;
                    margin: 0;
                    &:active {
                        outline: 0;
                    }
                    &:focus {
                        outline: 0;
                    }
                    &:visited {
                        outline: 0;
                    }
                    .btn {
                        height: 3.9vw;
                        margin: 0;
                        background-color: #010d25;
                        font-family: 'Playfair Display', serif;
                        font-size: 1vw;
                        line-height: 3.3vw;
                        outline: none;
                        border-radius: 0;
                        border-top: none;
                        border-bottom: none;
                        border-left: none;
                        border-right: 1px solid #2e2b2e;
                        box-sizing: border-box;
                        color: white;
                        &:active {
                            outline: 0;
                        }
                        &:focus {
                            outline: 0;
                        }
                        &:visited {
                            outline: 0;
                        }
                        &:after {
                            width: .5vw;
                            height: .5vw;
                            position: absolute;
                            border-top: .1vw solid #1078d1;
                            border-bottom: 0;
                            border-left: 0;
                            border-right: .1vw solid #1078d1;
                            transform: rotate(135deg);
                            right: 1vw;
                            margin: 0;
                            padding: 0;
                        }
                        .filter-option {
                            padding-left: 1.3vw;

                        }
                    }

                }
            }
            .info_string {
                height: 4vw;
                clear: fix;
                box-shadow: 0.5vw 0 0 #f5f8fa;
                display: block;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 4vw;
                    position: absolute;
                    top: 0;
                    left: -2vw;
                    background-color: #f5f8fa;

                }
                a {
                    display: block;
                    color: #9b9b9b;
                    font-size: 0.8vw;
                    line-height: 4vw;
                    height: 4vw;
                    text-transform: uppercase;
                    position: relative;
                    padding: 0 2.5vw 0 1.8vw;
                    float: left;
                    cursor: pointer;
                    &:first-child:before {
                        @mixin io list, svg;
                        content: '';
                        display: block;
                        width: 1.2vw;
                        height: 1.2vw;
                        background-size: contain;
                        background-position: center center;
                        position: absolute;
                        top: 1.4vw;
                        left: 0;
                    }
                    &:nth-child(2):before {
                        @mixin io return-to-map, svg;
                        content: '';
                        display: block;
                        width: 1.5vw;
                        height: 1.5vw;
                        background-size: contain;
                        background-position: center center;
                        position: absolute;
                        top: 1.2vw;
                        left: -.4vw;
                    }
                }
                .blue_link {
                    color: #1078d1;
                    font-weight: bold;
                }
                .how_many {
                    display: block;
                    float: right;
                    line-height: 4vw;
                    font-size: 0.9vw;
                    font-weight: lighter;
                    span {
                        font-style: italic;
                        color: #9b9b9b;
                    }
                }
            }
        }
        .manors {
            clear: fix;
            margin-top: 8vw;
            display: none;
            width: 75.6vw;
            .single_manor {
                float: left;
                width: 18vw;
                height: 26.3vw;
                background-color: #ffffff;
                margin-bottom: 1.6vw;
                box-shadow: 0vw 0.2vw 0.3vw rgba(0,0,0,0.15);
                &:first-child {
                    margin-right: 1.2vw;
                }
                &:nth-child(2) {
                    margin-right: 1.2vw;
                }
                &:nth-child(3) {
                    margin-right: 1.2vw;
                }
                &:nth-child(5) {
                    margin-right: 1.2vw;
                }
                &:nth-child(6) {
                    margin-right: 1.2vw;
                }
                &:nth-child(7) {
                    margin-right: 1.2vw;
                }
                .card_photo {
                    width: 18vw;
                    height: 13.2vw;
                    background-color: gainsboro;
                    .brick {
                        display: block;
                        width: 2.8vw;
                        height: 2.8vw;
                        background-color: white;
                        position: relative;
                    }
                    .like {
                        @mixin io heart-not-filled, svg;
                        background-size: 60%;
                        background-position: center center;
                        content: '';
                        margin-right: 0.7vw;
                        display: inline-block;
                        vertical-align: text-top;
                        width: 2.8vw;
                        height: 2.8vw;
                        background-color: #010d25;
                        cursor: pointer;
                    }
                    .active_like {
                        @mixin io heart-filled, svg;
                        background-size: 60%;
                        content: '';
                        display: inline-block;
                        vertical-align: text-top;
                        width: 2.8vw;
                        height: 2.8vw;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #010d25;
                        background-position: center center;
                        cursor: pointer;
                    }
                    .ruined {
                        @mixin io ruins, svg;
                        background-size: 115%;
                        background-position: center center;
                        width: 2.8vw;
                        height: 2.8vw;
                    }
                    .restored {
                        @mixin io saved, svg;
                        background-size: 115%;
                        background-position: center center;
                        width: 2.8vw;
                        height: 2.8vw;
                    }
                }
                .manor_info {
                    .manor_name {
                        font-family: 'Playfair Display', serif;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 0.9vw;
                        padding: 1.2vw 0 0 1.1vw;
                        display: block;
                        height: 3vw;
                    }
                    .manor_address {
                        font-family: 'Gotham Pro Light';
                        width: 13vw;
                        height: 5vw;
                        display: block;
                        padding: 1vw 0 0 3.3vw;
                        font-size: 0.8vw;
                        position: relative;
                        cursor: pointer;
                        transition: 0.25s;
                        &:before {
                            @mixin io address, svg;
                            background-position: center;
                            background-size: contain;
                            content: '';
                            display: block;
                            width: 1.2vw;
                            height: 1.5vw;
                            position: absolute;
                            top: 1.5vw;
                            left: 1.2vw;
                        }
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .blue_button {
                    margin: 1vw auto;
                    width: 9vw;
                    height: 2.7vw;
                    display: block;
                    text-align: center;
                    line-height: 2.7vw;
                    font-size: 1vw;
                    border: solid 1px #979797;
                    transition: 0.25s;
                    cursor: pointer;
                    color: black;
                    &:hover {
                        background-color: #010d25;
                        color: #ffffff;
                        border: solid 1px #010d25;
                    }
                    &:active {
                        background-color: #1078d1;
                        color: #ffffff;
                        border: solid 1px #1078d1;
                    }
                }
            }
        }
        .map {
            width: 75.6vw;
            height: 44.6vw;
            background-color: gainsboro;
            display: none;
            .gm-style-iw, .gm-style-iw-c {
                border-radius: 0;
                padding: 0;
                height: 4.4vw;
                button {
                    display: none;
                }
            }
        }
        .manor_on {
            display: block;
        }
    }
    .filters {
        float: left;
        width: 20vw;
        position: relative;
        .filter {
            width: 17vw;
            background-color: white;
            position: fixed;
            top: 13.8vw;
            right: 2.6vw;
            .filter_header {
                width: 17vw;
                height: 3.5vw;
                background-color: #f3cb8e;
                position: relative;
                &:before {
                    @mixin io filter, svg;
                    content: '';
                    display: block;
                    width: 3.4vw;
                    height: 3.5vw;
                    background-size: 40%;
                    background-position: center center;
                    position: absolute;
                }
                .filter_title {
                    width: 13.6vw;
                    height: 3.5vw;
                    text-align: center;
                    display: block;
                    float: left;
                    line-height: 3.5vw;
                    margin-left: 3.4vw;
                    background-color: white;
                    font-style: italic;
                    font-size: 0.8vw;
                }
            }
            .filter_body {
                .filter_item {
                    border-bottom: 1px solid rgba(151, 151, 151, 0.13);
                    .item_name {
                        height: 4.4vw;
                        padding-left: 1.6vw;
                        line-height: 4.4vw;
                        position: relative;
                        color: #4a4a4a;
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-size: 0.8vw;
                        &:after {
                            content: '';
                            display: block;
                            width: 0.4vw;
                            height: 0.4vw;
                            border-top: 0.1vw solid #1078d1;
                            border-right: 0.1vw solid #1078d1;
                            position: absolute;
                            top: 2vw;
                            right: 1.8vw;
                            transform: rotate(45deg);
                            transition: 0.25s;
                        }
                    }
                    .item_name_active:after {
                        content: '';
                        display: block;
                        width: 0.4vw;
                        height: 0.4vw;
                        border-top: 0.1vw solid #1078d1;
                        border-right: 0.1vw solid #1078d1;
                        position: absolute;
                        top: 2vw;
                        right: 1.8vw;
                        transform: rotate(135deg);
                        transition: 0.25s;
                    }
                    ul {
                        display: none;
                        padding-left: 1.6vw;
                        padding-bottom: 0.8vw;
                        color: #4a4a4a;
                        font-size: 0.8vw;
                        li {
                            padding: 0.2vw 0 0.2vw 0;
                        }
                    }
                    .ul_visible {
                        display: block;
                    }
                    .styled-checkbox {
                        position: absolute;
                        opacity: 0;
                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                        }
                        & + label:before {
                            content: '';
                            margin-right: 0.7vw;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 1vw;
                            height: 1vw;
                            background: white;
                            border: 1px solid black;
                        }
                        &:checked + label:after {
                            @mixin io check;
                            content: '';
                            margin-right: 0.7vw;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 1vw;
                            height: 100%;
                            box-sizing: border-box;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-size: 60%;
                            background-position: center center;
                        }
                    }
                }
            }
        }
    }
}

.gm-style-iw, .gm-style-iw-c {
    border-radius: 0;
}
