.cont {
    width: 100%;
    padding-top: 5.8vw;
    font-family: 'Gotham Pro Regular';
    background-color: #f5f8fa;
    background-size: 100%;
    height: 54vw;
    clear: fix;
    .left {
        padding: 2vw 3.6vw 3vw 3.6vw;
        width: 45vw;
        float: left;
        box-sizing: border-box;
        .preview {
            font-size: 1vw;
            cursor: pointer;
            transition: 0.25s;
            &:hover {
                color: #1078d1;
            }
        }
        .manor_name {
            font-family: 'Playfair Display', serif;
            font-size: 2.3vw;
            font-weight: bold;
            padding: 1vw 0 2vw;
            span{
                text-transform: uppercase;
            }
        }
        .manor_card {
            background-color: #ffffff;
            width: 37vw;
            /*height: 18.4vw;*/
            box-shadow: 0vw 0.3vw 0.5vw rgba(0,0,0,0.15);
            padding: 0 ;
            .card_header {
                clear: fix;
                padding: 2.3vw 2.4vw 1vw;
                .number {
                    color: #1078d1;
                    font-family: 'Playfair Display', serif;
                    font-size: 1vw;
                    font-weight: bold;
                    float: left;
                }
                .show_map {
                    color: #1078d1;
                    font-size: 0.8vw;
                    font-weight: bold;
                    text-transform: uppercase;
                    float: right;
                    position: relative;
                    display: none;
                    cursor: pointer;
                    &:before {
                        @mixin io return-to-map, svg;
                        content: '';
                        display: block;
                        width: 1.7vw;
                        height: 1.7vw;
                        background-position: center center;
                        background-size: contain;
                        position: absolute;
                        top: -0.5vw;
                        left: -2vw;
                    }
                }
                .show_photo {
                    color: #1078d1;
                    font-size: 0.8vw;
                    font-weight: bold;
                    text-transform: uppercase;
                    float: right;
                    position: relative;
                    display: none;
                    cursor: pointer;
                    &:before {
                        @mixin io list, svg;
                        content: '';
                        display: block;
                        width: 1.3vw;
                        height: 1.3vw;
                        background-position: center center;
                        background-size: contain;
                        position: absolute;
                        top: -0.3vw;
                        left: -2vw;
                    }
                }
                .show_on {
                    display: block;
                }
            }
        }
        .table {
            padding: 0 2.4vw 1.3vw;
            clear: fix;
            font-size: 0.8vw;
            .col {
                float: left;
                &:first-child {
                    border-right: 0.1vw solid rgba(151, 151, 151, 0.13);
                }
                .cell {
                    height: 6.7vw;
                    position: relative;
                    &:first-child {
                        border-bottom: 0.1vw solid rgba(151, 151, 151, 0.13);
                    }
                   .cell_text {
                        padding: 0 1vw 0 3.2vw;
                       line-height: normal;
                    }
                    .cell_title {
                        padding-top: 1vw;
                        padding-left: 3.2vw;
                        font-weight: bold;
                    }
                }
                .cell1:before {
                    @mixin io address-2x-blue;
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    position: absolute;
                    background-size: contain;
                    background-position: center center;
                    top: 1vw;
                    left: 0.5vw;
                }
                .cell2_ruined:before {
                    @mixin io ruined, svg;
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    position: absolute;
                    background-size: contain;
                    background-position: center center;
                    top: 1vw;
                    left: 0.5vw;
                }
                .cell2_restored:before {
                    @mixin io restored, svg;
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    position: absolute;
                    background-size: contain;
                    background-position: center center;
                    top: 1vw;
                    left: 0.5vw;
                }
                .cell3:before {
                    @mixin io shield, svg;
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    position: absolute;
                    background-size: contain;
                    background-position: center center;
                    top: 1vw;
                    left: 0.5vw;
                }
                .cell4:before {
                    @mixin io key, svg;
                    content: '';
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    position: absolute;
                    background-size: contain;
                    background-position: center center;
                    top: 1vw;
                    left: 0.5vw;
                }

            }
            .col_left {
                width: 55%;
            }
            .col_right {
                width: 45%;
            }
        }
        .manor_info {
            padding: 1vw 0 1vw;
            .paragraph {
                width: 37vw;
                clear: fix;
                padding: 1vw 0 1vw;
                .item {
                    width: auto;
                    height: 2vw;
                    display: block;
                    float: left;
                    font-size: 1vw;
                    font-weight: bold;
                    margin-right: 3.5vw;
                    cursor: pointer;
                    border-bottom: 0.3vw solid #f5f8fa;
                }
                .active_item {
                    border-bottom: 0.3vw solid #1078d1;
                    transition: 0.25s;
                }
            }
            .info_text {
                width: 37vw;
                height: 14vw;
                overflow-y: scroll;
                overflow-x: hidden;
                position: relative;

                .first_text {
                    display: none;
                    font-size: 1vw;
                    line-height: 1.6vw;
                    transition: 0.25s;
                    p {
                        padding: 0 2vw 2vw 0 ;
                    }
                }
                .second_text {
                    display: none;
                    font-size: 1vw;
                    line-height: 1.6vw;
                    transition: 0.25s;
                    p {
                        padding: 0 2vw 2vw 0 ;
                    }
                }
                .third_text {
                    display: none;
                    font-size: 1vw;
                    line-height: 1.6vw;
                    transition: 0.25s;
                    p {
                        padding: 0 2vw 2vw 0 ;
                    }
                }
                .visible_text {
                    display: block;
                }
            }
            .scrollbar_style::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 0.6vw rgba(220,220,220 ,1 );
                background-color: #F5F5F5;
            }

            .scrollbar_style::-webkit-scrollbar {
                width: 0.2vw;
                background-color: #F5F5F5;
            }

            .scrollbar_style::-webkit-scrollbar-thumb {
                background-color: grey;

            }

        }
        .blue_button {
            width: 9vw;
            height: 2.7vw;
            display: block;
            text-align: center;
            line-height: 2.7vw;
            font-size: 1vw;
            border: solid 0.1vw #979797;
            transition: 0.25s;
            cursor: pointer;
            color: black;
            &:hover {
                background-color: #010d25;
                color: #ffffff;
                border: solid 0.1vw #010d25;
            }
            &:active {
                background-color: #1078d1;
                color: #ffffff;
                border: solid 0.1vw #1078d1;
            }
        }
    }
    .right {
        width: 53.2vw;
        float: left;

        .gallery {
            width: 54vw;
            display: none;
            .big_photo {
                width: 54vw;
                height: 38.7vw;
                background-size: cover;
                background-position: center center;
            }
            .small_box {
                clear: fix;
                padding-top: 0.8vw;
                .small_photo {
                    width: 13.5vw;
                    height: 8.5vw;
                    background-size: cover;
                    background-position: center center;
                    display: block;
                    float: left;
                    cursor: pointer;
                }
            }
        }
        .map_alone {
            width: 54vw;
            height: 38.7vw;
            float: left;
            display: none;
            background-color: gainsboro;
        }
        .showItem {
            display: block;
        }

    }


}