<!-- ########### -->
<!-- CONTENT END -->
<!-- ########### -->

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__title">Присоединяйся</div>
        <div class="footer__social">
            <ul>
                <li><a class="ok" target="_blank" href="https://ok.ru/oriflame.russia"></a></li>
                <li><a class="vk" target="_blank" href="https://vk.com/ru_oriflame"></a></li>
                <li><a class="in" target="_blank" href="https://www.instagram.com/oriflame_ru/"></a></li>
                <li><a class="fb" target="_blank" href="https://www.facebook.com/OriflameRussiaOfficial"></a></li>
                <li><a class="yt" target="_blank" href="https://www.youtube.com/user/OriflameCommunityRu"></a></li>
            </ul>
        </div>
        <div class="footer__copy">Copyright © 2018 Oriflame Cosmetics AG. Все права защищены.</div>
    </div>
</footer>

@@include('blocks/modal/index.html')

<script src="/bundles/webpack/vendor.bundle.js"></script>
<script src="/bundles/webpack/desktop.bundle.js"></script>
</body>
</html>