<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oriflame</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:300,400,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

    <link href="/bundles/css/mobile.min.css" rel="stylesheet">
</head>
<body class="mobile">

<header class="header-global-mobile">
    <div class="header-global-mobile__inner">
        <div class="header-global-mobile__slider jsSliderNavMobile">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#">ГЛАВНАЯ</a></div>
                    <div class="swiper-slide"><a href="#">КУДА СХОДИТЬ</a></div>
                    <div class="swiper-slide"><a class="active" href="#">100% ТЫ</a></div>
                    <div class="swiper-slide"><a href="#">ПРИСОЕДИНЯЙСЯ К СООБЩЕСТВУ</a></div>
                    <div class="swiper-slide"><a href="#">ТЕСТЫ</a></div>
                    <div class="swiper-slide"><a href="#">ОНЛАЙН-МАГАЗИН</a></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ############# -->
<!-- CONTENT START -->
<!-- ############# -->