@@include('templates/desktop/include/header.html')

<div class="container">
    <div class="objects">
        <div class="search">
            <form class="search_menu">
                <select class="search_element region"></select>
                <select class="search_element area"></select>
                <input type="search" class="search_element">
            </form>
            <div class="info_string">
                <a class="list_on">Списком</a>
                <a class="map_on">на карте</a>
                <p class="how_many">Найдено <span>100 объектов</span></p>
            </div>
        </div>
        <div class="manors on">
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type ruined brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Веневитиновых (Горожанка)</p>
                    <p class="address">Воронежская область, Рамонский район, с. Русская Гвоздёвка, ул. Донская д.1</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like like_active brick"></div>
                    <div class="type restored brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Дом Белюстина</p>
                    <p class="address">Тверская область, Калязин, улица Карла Маркса</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                        <div class="like brick"></div>
                        <div class="type restored brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Пашковых</p>
                    <p class="address">Нижегородская область, Гагинский район, с. Ветошкино</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type ruined brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Капканщикова</p>
                    <p class="address">Воронежская область, Панинский район, с. Большой Мартын, ул. Совхозная 4, 5</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type restored brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Волосово</p>
                    <p class="address">Воронежская область, Панинский район, с. Большой Мартын, ул. Совхозная 4, 5</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type restored brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Зубовых, Полежаевых, Соколовых</p>
                    <p class="address">Воронежская область, Панинский район, с. Большой Мартын, ул. Совхозная 4, 5</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type ruined brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Чертковых</p>
                    <p class="address">Воронежская область, Панинский район, с. Большой Мартын, ул. Совхозная 4, 5</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
            <div class="single_manor">
                <div class="card_photo">
                    <div class="like brick"></div>
                    <div class="type ruined brick"></div>
                </div>
                <div class="manor_address">
                    <p class="name">Усадьба Чубова</p>
                    <p class="address">Воронежская область, Панинский район, с. Большой Мартын, ул. Совхозная 4, 5</p>
                    <div class="blue_button">Подробнее</div>
                </div>
            </div>
        </div>
        <div class="map" id="map"></div>
    </div>
    <div class="filters">
        <div class="filter">
            <div class="filter_header">
                <p>Настроить фильтры</p>
            </div>
            <div class="filter_body">
                <div class="filter_item">
                    <p class="item_name">Вид собственности</p>
                    <ul class="checkboxes">
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_1">
                            <label for="checkbox_1">Региональная</label>
                        </li>
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_2">
                            <label for="checkbox_2">Региональная</label>
                        </li>
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_3">
                            <label for="checkbox_3">Региональная</label>
                        </li>
                    </ul>
                </div>
                <div class="filter_item">
                    <p class="item_name">Вид собственности</p>
                    <ul class="checkboxes">
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_4">
                            <label for="checkbox_4">Региональная</label>
                        </li>
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_5">
                            <label for="checkbox_5">Региональная</label>
                        </li>
                    </ul>
                </div>
                <div class="filter_item">
                    <p class="item_name">Вид собственности</p>
                    <ul class="checkboxes">
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_6">
                            <label for="checkbox_6">Региональная</label>
                        </li>
                        <li>
                            <input class="styled-checkbox" type="checkbox" id="checkbox_7">
                            <label for="checkbox_7">Региональная</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key="></script>
<script>
    function initMap() {
        // Координаты центра на карте. Широта: 56.2928515, Долгота: 43.7866641
        var centerLatLng = new google.maps.LatLng(55.848555, 37.397864);
        // Обязательные опции с которыми будет проинициализированна карта
        var mapOptions = {
            center: centerLatLng, // Координаты центра мы берем из переменной centerLatLng
            zoom: 16               // Зум по умолчанию. Возможные значения от 0 до 21
        };
        // Создаем карту внутри элемента #map
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({
            position: centerLatLng,              // Координаты расположения маркера. В данном случае координаты нашего маркера совпадают с центром карты, но разумеется нам никто не мешает создать отдельную переменную и туда поместить другие координаты.
            map: map,
            title: "Светлогорский пр-д, 13, Москва, 125476 "
        });
    }
    google.maps.event.addDomListener(window, "load", initMap);
</script>
@@include('templates/desktop/include/footer.html')