@@include('templates/desktop/include/header.html')

<section class="cont">
    <div class="left">
        <a class="preview">&#60; Назад</a>
        <div class="about_manor">
            <p class="manor_name">Усадьба <span>Хвалевское</span></p>
            <div class="manor_card">
                <div class="card_header">
                    <div class="number">Реестровый №1233456</div>
                    <div class="show_map show_on">смотреть на карте</div>
                    <div class="show_photo">смотреть фотографии</div>
                </div>
                <div class="table">
                    <div class="col col_left">
                        <div class="cell cell1">
                            <div class="cell_title">Адрес:</div>
                            <div class="cell_text">
                                Вологодская обл., Бабаевский район, с. Борисово­-Судское,
                                ул. Садовая, д. 48
                            </div>
                        </div>
                        <div class="cell cell2_restored">
                            <div class="cell_title">Состояние усадьбы:</div>
                            <div class="cell_text">Возрожденная</div>
                        </div>
                    </div>
                    <div class="col col_right">
                        <div class="cell cell3">
                            <div class="cell_title">Вид собственности:</div>
                            <div class="cell_text">Частная</div>
                        </div>
                        <div class="cell cell4">
                            <div class="cell_title">Владельцы:</div>
                            <div class="cell_text">Семья Войцеховских-Качаловых</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="manor_info">
                <div class="paragraph">
                    <div class="item first_item active_item">Историческая справка</div>
                    <div class="item second_item">События в усадьбе</div>
                    <div class="item third_item">Туризм</div>
                </div>
                <div class="info_text scrollbar_style">
                    <div class="first_text visible_text">
                        <p>Усадьба дворян Качаловых «Хвалевское» расположена на высоком живописном берегу реки Суды в
                            селе Борисово-Судское Бабаевского района Вологодской области. Исторически эти земли
                            были частью Белозерского уезда Новгородской губернии.
                        </p>
                        <p>Главный усадебный дом был построен в 1854–56 годах местным помещиком Николаем Александровичем
                            Качаловым.
                        </p>
                        <p>Н.А. Качалов долгие годы был предводителем дворянства Белозерского уезда. Впоследствии он
                            руководил первым Новгородским земством, служил губернатором Архангельска,
                            после чего руководил Таможней Российской империи.
                        </p>
                        <p>Николай Александрович был близким соратником царя Александра III. Женат он был на Александре
                            Павловне Долговой-Сабуровой, дочери местного помещика. Земли усадьбы Хвалевское и местные
                            деревни он передал своей дочери в качестве приданого.Кронштадтским, строил храмы и богадельни.
                            Владимир Федорович, будучи человеком благородного происхождения, с детства дружил с деревенскими
                            ребятишками и поэтому всю жизнь старался общаться с народом. Он помогал сиротам и вдовам,
                            кормил нищих, утешал страждущих.владельцами после революции и что представляет собой это
                            старинное поместье в наши дни?
                        </p>
                        <p>Поиск ответов на все эти вопросы особенно актуален сейчас - когда руководство Тульской области
                            изъяло Хрусловку у предыдущего собственника и сейчас ищет усадьбе нового заботливого владельца.
                            Кстати: интерес к усадьбе растет с каждым годом, причем не только среди россиян, но и среди
                            представителей других стран.
                        </p>
                    </div>
                    <div class="second_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.
                    </div>
                    <div class="third_text">
                        A diam maecenas sed enim ut sem viverra. Fermentum odio eu feugiat pretium nibh ipsum. Donec
                        enim diam vulputate ut pharetra sit. Id velit ut tortor pretium viverra suspendisse potenti
                        nullam ac. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Sagittis vitae et
                        leo duis. Viverra adipiscing at in tellus integer. Nisl purus in mollis nunc sed. Et netus et
                        malesuada fames ac. Leo duis ut diam quam nulla porttitor massa id neque.
                    </div>
                </div>
            </div>
        </div>
        <!--<a class="blue_button">Подробнее</a>-->
    </div>
    <div class="right">
        <div class="gallery showItem">
            <div class="big_photo" style="background-image: url(/images/desktop/pic1.png)"></div>
            <div class="swiper-container">
                <ul class="small_box swiper-wrapper">
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic1.png)" data-image="/images/desktop/pic1.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic1.png)" data-image="/images/desktop/pic1.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                </ul>
            </div>
        </div>
        <div class="map_alone" id="restoredMap"></div>
    </div>
</section>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6Nek4TkwZyuBChccNkKXxY7pUZotNyRI&callback=initMap" type="text/javascript"></script>

<script>
    function initMap() {
        var location =
            ['<div id="content" style="height: 100%">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="bodyContent" style="clear: fix;">'+
            '<div id="manorCard" style="float: left"><img src="/images/desktop/pic1.png" style="width: 7vw; height: 4.4vw" ></div>'+
            '<div id="manorName" style="float: left; width: 12vw; height: 4.4vw; font-family: \'Gotham Pro Bold\'; font-size: 0,8vw; line-height: 4.4vw; text-align: center; font-weight: bold ">Усадьба Кампанари 42</div>'+
            '</div>'+
            '</div>', 54.244419, 38.436857, 1];

        // Координаты центра на карте. Широта: 56.2928515, Долгота: 43.7866641
        var centerLatLng = new google.maps.LatLng(location[1], location[2]);
        // Обязательные опции с которыми будет проинициализированна карта
        var mapOptions = {
            center: centerLatLng, // Координаты центра мы берем из переменной centerLatLng
            zoom: 13               // Зум по умолчанию. Возможные значения от 0 до 21
        };
        // Создаем карту внутри элемента #map
        var map = new google.maps.Map(document.getElementById("restoredMap"), mapOptions);
        var marker = new google.maps.Marker({
            position: centerLatLng,              // Координаты расположения маркера. В данном случае координаты нашего маркера совпадают с центром карты, но разумеется нам никто не мешает создать отдельную переменную и туда поместить другие координаты.
            map: map,
            icon: {
                url: '/images/desktop/address-blue.png',
                scaledSize: new google.maps.Size(28, 38),
                anchor: new google.maps.Point(15, 48)
            }
        });
        var infowindow = new google.maps.InfoWindow({
            content: location[0],
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
    google.maps.event.addDomListener(window, "load", initMap);
</script>

@@include('templates/desktop/include/footer.html')
