@@include('templates/desktop/include/header.html')

<section class="container">
    <div class="left">
        <a class="preview">Назад</a>
        <div class="about_manor">
            <p class="manor_name">Усадьба <span>КАРГАШИНО</span></p>
            <div class="manor_card">
                <div class="card_header">
                    <p class="number">Реестровый №1233456</p>
                    <a class="show_map">смотреть на карте</a>
                </div>
                <div class="table">
                    <div class="col">
                        <div class="cell cell1">
                            <p class="cell_title">Адрес:</p>
                            <p class="cell_text">Рязанская область, Сасовский район</p>
                        </div>
                        <div class="cell cell2_ruined">
                            <p class="cell_title">Состояние усадьбы:</p>
                            <p class="cell_text">Заброшенная</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="cell cell3">
                            <p class="cell_title">Вид собственности:</p>
                            <p class="cell_text">Региональная</p>
                        </div>
                        <div class="cell cell4">
                            <p class="cell_title">Владельцы:</p>
                            <p class="cell_text">Отсутствуют</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="manor_info">
                <div class="paragraph">
                    <div class="item first_item active_item">Историческая справка</div>
                    <div class="item second_item">Потенциал усадьбы</div>
                    <div class="item third_item">Новости</div>
                </div>
                <div class="info_text" id="scrollbar_style">
                    <div class="first_text visible_text">
                        <p>«…больше всего на свете Владимир Федорович любил, чтобы все было миром и ладом, а не любил больше всего, когда ругаются»</p>
                        <p>
                            Это невероятно простое, а оттого — совершенно искреннее воспоминание принадлежит жительнице села Каргашино в
                            Рязанской области И. Лаптевой. Именно так ее родители, работники местной усадьбы, отзывались о Владимире
                            Федоровиче фон дер Лаунице, выдающемся государственном деятеле, истинном патриоте, благодетеле и человеке,
                            который много трудился на благо православной церкви. За свою долгую жизнь он был главой нескольких губерний,
                            где снискал славу народного любимца и человека чести. Он был одним из главных приближенных последнего русского
                            императора Николая Второго. Он внес огромную лепту в прославление Серафима Саровского, лично общался с Иоанном
                            Кронштадтским, строил храмы и богадельни. Владимир Федорович, будучи человеком благородного происхождения, с детства
                            дружил с деревенскими ребятишками и поэтому всю жизнь старался общаться с народом. Он помогал сиротам и вдовам, кормил
                            нищих, утешал страждущих.владельцами после революции и что представляет собой это старинное поместье в наши дни?
                        </p>
                        <p>
                            Поиск ответов на все эти вопросы особенно актуален сейчас - когда руководство Тульской области изъяло Хрусловку у
                            предыдущего собственника и сейчас ищет усадьбе нового заботливого владельца. Кстати: интерес к усадьбе растет с каждым годом,
                            причем не только среди россиян, но и среди представителей других стран.
                        </p>
                    </div>
                    <div class="second_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="third_text">
                        A diam maecenas sed enim ut sem viverra. Fermentum odio eu feugiat pretium nibh ipsum. Donec
                        enim diam vulputate ut pharetra sit. Id velit ut tortor pretium viverra suspendisse potenti
                        nullam ac. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Sagittis vitae et
                        leo duis. Viverra adipiscing at in tellus integer. Nisl purus in mollis nunc sed. Et netus et
                        malesuada fames ac. Leo duis ut diam quam nulla porttitor massa id neque.
                    </div>
                </div>
            </div>
        </div>
        <a class="blue_button">Подробнее</a>
    </div>
    <div class="right">
        <div class="gallery">
            <div class="big_photo" style="background-image: url(/images/desktop/pic1.png)"></div>
            <div class="swiper-container">
                <ul class="small_box swiper-wrapper">
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic1.png)" data-image="/images/desktop/pic1.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic1.png)" data-image="/images/desktop/pic1.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                    <li class="small_photo swiper-slide" style="background-image: url(/images/desktop/pic2.png)" data-image="/images/desktop/pic2.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@@include('templates/desktop/include/footer.html')
